/* GLOBAL STYLES */
:root {
  --color-gray-1: #3a3a3a;
  --color-gray-2: #18191f;
  --color-gray-3: #5e6366;
  --color-gray-4: #787885;
  --color-gray-5: #d9dbe1;
  --color-white: #fff;
  --color-black: #000;
  --color-black-1: #0a0826;
  --color-red-1: #d9534f;
  --color-red-2: #d33833;
  --color-orange: #fb8200;
  --color-yellow-1: #ffc600;
  --color-yellow-2: #dbb406;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  margin-inline: auto;
  background-color: #f7f7f7;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
}
/* END OF GLOBAL STYLES */

/* ANIMATIONS */
@keyframes moveInLeft {
  0% {
    transform: translateX(-80rem) rotateX(-20deg);
  }
  100% {
    transform: translateX(0) rotateX(0);
    opacity: 1;
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(80rem) rotateX(-20deg);
  }
  100% {
    transform: translateX(0) rotateX(0);
    opacity: 1;
  }
}

@keyframes moveInBottom {
  0% {
    transform: translateY(80rem) rotateY(-20deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}
/* END OF ANIMATIONS */

/* COMMON STYLES */
.place-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-block;
  padding: 10px 24px;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 40px;
  transition: all 0.3s;
  text-transform: capitalize;
}

.secondary-heading {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--color-gray-1);
  text-align: center;
  margin-bottom: 5rem;
}
/* END OF COMMON STYLES */

/* HERO SECTION */
.header {
  width: 80%;
  margin-inline: auto;
  padding: 8rem 0 10rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.nav__logo {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-dark-gray);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7rem;
}

.hero__heading {
  font-size: 5.2rem;
  font-weight: 700;
  color: var(--color-dark-gray);
  max-width: 25ch;
}

.hero__texts {
  width: 50%;
}

.nav__logo,
.hero__texts {
  opacity: 0;
  animation: moveInLeft 1s 0.7s forwards cubic-bezier(0.175, 0.885, 0.32, 1.075);
}

.hero__copy {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-dark-gray);
  width: 75%;
  margin-bottom: 3rem;
}

.button--cta {
  background-color: var(--color-red-1);
  color: var(--color-white);
}

.button__body {
  margin-right: 8px;
  letter-spacing: 0.5px;
}

.button:hover.button--cta {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 15%);
}

.button:active.button--cta {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  background-color: var(--color-red-2);
}

.button:focus {
  outline: 0;
}

.hero__figure {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  animation: moveInRight 1s 0.7s forwards
    cubic-bezier(0.175, 0.885, 0.32, 1.075);
}

.hero__img-camera {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.sponsors {
  padding: 3.5rem 0;
  display: flex;
  width: 80%;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  gap: 0 6rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );

  opacity: 0;
  animation: moveInBottom 1s 0.7s forwards
    cubic-bezier(0.175, 0.885, 0.32, 1.075);
}

.sponsor__logo {
  text-align: center;
}

/* END HERO SECTION */

/* PRODUCTS  */
.products {
  width: 75%;
  margin-inline: auto;
  padding: 1.5rem 5rem 5rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.card {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 15%);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card__figure {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 15px;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  min-height: 250px;
  max-height: 250px;
}

.card__title {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--color-gray-2);
  text-transform: capitalize;
}

.card__price {
  font-family: 'Inter', sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-black);
}

.card__ratings {
  margin: 0.8rem 0;
}

.card__star {
  font-size: 1.2rem;
}

.card__star--full,
.card__star--half {
  color: var(--color-orange);
}

.card__ratings-avg {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-gray-3);
  margin-left: 8px;
}

.card__text {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-gray-4);
}

.button--see-more {
  background-color: transparent;
  color: var(--color-red-1);
  padding: 0;
  margin: 5rem 0;
  display: flex;
  justify-content: flex-end;
}

.button:hover.button--see-more {
  transform: translateY(-3px);
}
.button:active.button--see-more {
  color: var(--color-red-2);
  transform: translateY(-1px);
}
/* END OF PRODUCTS  */

/* SUBSCRIBE */
.subscribe {
  width: 100%;
  padding: 6rem 0;
  background-color: var(--color-red-1);
}

.subscribe .secondary-heading {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1rem;
}

.subscribe .secondary-heading span {
  display: block;
  font-family: 'Dancing Script', cursive;
  color: var(--color-yellow-1);
  font-size: 4rem;
}

.button--join-now {
  background-color: var(--color-yellow-1);
  border-radius: 2px;
  margin: 0;
  text-transform: uppercase;
  color: var(--color-black-1);
}

.button-box {
  justify-content: center;
  display: flex;
  justify-content: center;
}
.form-section {
  margin-top: 4rem;
  margin-inline: auto;
  width: 55%;
}

.form__text {
  font-size: 1.6rem;
  color: var(--color-white);
  margin-bottom: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-top: 5rem;
  margin-inline: auto;
  text-align: left;
}

.form {
  display: flex;
  width: 100%;
  align-items: center;
}

.form__input,
.button__subscribe {
  background-color: transparent;
  outline: 1px solid #fff;
  color: var(--color-white);
  font-family: inherit;
  font-size: 1.4rem;
  border-radius: 3px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  padding: 15px 20px;
  margin-right: 3rem;
  width: 35%;
}

.form__input::placeholder {
  color: #fff;
}

.button__subscribe {
  font-size: 1.6rem;
  width: fit-content;
  background-color: var(--color-yellow-1);
  color: var(--color-black-1);
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover.button--join-now,
.button__subscribe:hover {
  background-color: var(--color-yellow-2);
}

.button:active.button--join-now,
.button__subscribe:active {
  transform: scale(0.98);
}

/* END OF SUBSCRIBE */

/* FOOTER  */

.footer {
  background-color: var(--color-black-1);
  padding: 5rem 0;
  text-align: center;
  color: var(--color-white);
}

.nav--footer {
  justify-content: center;
  margin-bottom: 8px;
}
.copyright {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-gray-5);
}

.social {
  margin-top: 1.8rem;
}

.social__item:not(:last-child) {
  margin-right: 2.5rem;
}

.social__item {
  background-color: #22213c;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.social__link {
  font-size: 16px;
  color: var(--color-white);
}

.social__item:hover .social__link {
  color: var(--color-gray-5);
}

/* END OF FOOTER  */

/* RESPONSIVE FOR TABLET STYLES */
@media screen and (max-width: 992px) {
  html {
    font-size: 55%;
  }

  .header {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .nav {
    justify-content: center;
    margin-bottom: 4.5rem;
  }
  .nav__logo {
    font-size: 3rem;
  }

  .hero {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .hero__texts {
    order: 2;
    width: 80%;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .hero__heading {
    font-size: 4.5rem;
    max-width: 100%;
    margin-bottom: 15px;
    margin-top: 25px;
  }

  .hero__copy {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }

  .button {
    margin-inline: auto;
    font-weight: 500;
  }

  .hero__figure {
    width: 100%;
    margin-bottom: 15px;
  }

  .hero__img-circle {
    width: 65%;
    height: auto;
  }

  .hero__img-camera {
    width: 55%;
  }

  .sponsors {
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem 0;
    justify-content: center;
    border-image-slice: 1;
  }

  .sponsor__logo img {
    width: 70%;
  }

  .products {
    width: 90%;
    margin-inline: auto;
    padding: 3rem 0 0;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .form {
    flex-direction: column;
  }

  .form-section {
    width: 80%;
  }

  .form__input,
  .button__subscribe {
    margin-bottom: 1rem;
    width: 100%;
    margin-right: 0;
  }

  .form__text {
    text-align: center;
    margin-bottom: 2rem;
  }

  .nav--footer {
    margin-bottom: 1rem;
  }

  .nav--footer .nav__logo {
    font-size: 2.5rem;
  }

  .footer__copyright {
    font-size: 1.4rem;
  }

  .social__item {
    width: 3rem;
    height: 3rem;
  }
  .social__link {
    font-size: 1.75rem;
  }
}
/* END OF RESPONSIVE FOR TABLET STYLES */

/* RESPONSIVE FOR MOBILE STYLES */
@media screen and (max-width: 580px) {
  html {
    font-size: 50%;
  }

  .header {
    padding-top: 3.5rem 0 5rem;
  }

  .nav {
    margin-bottom: 2.5rem;
  }
  .nav__logo {
    font-size: 2rem;
  }

  .hero {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .button {
    margin-inline: auto;
    font-weight: 500;
  }

  .hero__texts {
    width: 100%;
  }
  .hero__heading {
    font-size: 3.5rem;
  }

  .hero__copy {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  .hero__img-circle {
    width: 75%;
  }

  .hero__img-camera {
    width: 65%;
  }

  .sponsors {
    border-image-slice: 0;
    padding: 0;
  }

  .products {
    padding: 2rem 0 0;
  }

  .secondary-heading {
    margin-bottom: 2.5rem;
  }

  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .nav--footer {
    margin-bottom: 0.8rem;
  }
}
/* END OF RESPONSIVE FOR MOBILE STYLES */
